
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/outfit-v15-latin-200.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v15-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/outfit-v15-latin-600.woff2') format('woff2'); 
}

:root{

--ff-outfit: 'Outfit', sans-serif;

/* Font Weights */

--fw-light: 200;
--fw-normal: 400;
--fw-bold: 600;

/* Font Sizes */

--fs-400: 0.938rem;  
--fs-600: 1.125rem; 
--fs-900: 1.5rem;  

/* Colors */

--clr-body-bg: hsl(212, 45%, 89%); 
--clr-card-bg: hsl(0, 0%, 100%);
--clr-main-heading: hsl(218, 44%, 22%);
--clr-body-text: hsl(220, 15%, 55%);

}

/* CSS Page Reset */

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

html{
    margin: 0;
    font-family: var(--ff-outfit);
    font-weight: var(--fw-light);
    color: var(--clr-main-heading);
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3{
    line-height: 1.2;
}

body{
    background-color: var(--clr-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 18.75rem;
    background-color: var(--clr-card-bg);
    padding: 1.125rem;
    border-radius: 0.9375rem;
    box-shadow: 0rem 0.3125rem 1.25rem 0.625rem rgba(0, 0, 0, 0.07);
}

.image{
    padding-bottom: 0.5rem;
}

img{
    border-radius: 0.625rem;
}

h1{
    font-size: var(--fs-600);
    padding: 1rem;
}

p{
    color: var(--clr-body-text);
    font-size: var(--fs-400);
    padding-inline: 0.5rem;
    
}


.attribution{
    position: absolute;
    bottom: 0.625rem;
    left: auto;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;

}

/* Media Queries */

@media screen and (min-width: 31.25rem) {

    .container{
        width: 20rem;
        padding: 1.25rem;
    }

    .attribution{
        font-size: var(--fs-400);
    }

}