@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/poppins/Poppins-Regular.ttf) format(truetype);
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/poppins/Poppins-SemiBold.ttf) format(truetype);
}
@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}

:root{
    
    --ff-poppins : Poppins, sans-seriff;
    --ff-open-sans: Open Sans, sans-seriff;

    --fw-light: 200;
    --fw-regular: 400;
    --fw--semi-bold: 600;

    --fs-xsmall: 1rem;
    --fs-small: 1.25rem;
    --fs-mid: 2rem;
    --fs-large: 2.75rem;

    --clr-violet:hsl(257, 40%, 49%);
    --clr-soft-magenta:hsl(300, 69%, 71%);
    --clr-white:hsl(0, 0%, 100%);

}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

html{
    font-family: var(--ff-poppins);
    font-weight: var(--fw--semi-bold);
    line-height: 1.5;
}

h1,
h2,
h3{
    line-height: 1.5;
}

p{
    line-height: 1.8;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


    background-image: url(../assets/images/bg-desktop.svg);
    background-color: var(--clr-violet);
    overflow: hidden;
}

.logo{
    padding-block: 1.5rem;
    margin-block-start: 1.25rem;
    margin-block-end: 2rem;
}


.flex-container{
    max-width: 80em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 3rem;
}

.hero-illustration{
    width: 43.75rem;
}

.desc-infor{
    width: 36.25rem;
    height: 100%;
    padding: 2rem;

}

h1{
    font-family: var(--ff-poppins);
    color: var(--clr-white);
    font-size: var(--fs-large);
    font-weight: var(--fw--semi-bold);
    
    margin-block-end: 1.5rem;
}

p{
    font-family: var(--ff-open-sans);
    color: var(--clr-white);
    font-weight: var(--fw-regular);
    font-size: var(--fs-xsmall);
    margin-block-end: 1.5rem;

}

button{
    background-color: var(--clr-white);
    font-size: var(--fs-small);
    font-family: var(--ff-open-sans);
    font-weight: var(--fw--semi-bold);
    color: var(--clr-violet);
    
    border-radius: 2.25rem;
    border: none;

    padding-inline: 3rem;
    padding-block: 0.875rem;
    margin-block-end: 3.75rem;

    transition: all ease-in 300ms;

}

button:hover{
    background-color: var(--clr-soft-magenta);
    color: var(--clr-white);
    cursor: pointer;
}

.socials{
    text-align: end;
    gap: 1.15rem;
    margin-block-start: 2rem;
}

i{
    color: var(--clr-white);
    padding: 0.5rem;
    transition: all ease-in-out 300ms;
}

i:hover{
    color: var(--clr-soft-magenta);
    cursor: pointer;
}

@media (max-width: 64em) {
    body{
        background-image: url(../assets/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }
    .flex-container{
        flex-direction: column;
        text-align: center;

    }
    h1{
        font-size: var(--fs-large);
    }
    .socials{
        text-align: center;
        margin-block-end: 2rem;
    }
    button{
        margin-block-end: 0rem;
    }
}

@media (max-width: 48.75em){

    body{
        overflow: auto;
    }

    .hero-illustration > img{
        width: 21.875rem;
        height: 15.625rem;
        margin: auto;
    }

    h1{
        margin-inline: 3.125rem;
        font-size: var(--fs-mid);
    }
    p{
        margin-inline: 3.125rem;
        font-size: 1.25rem;
    }

}


